<a href="https://colab.research.google.com/github/durbin-164/TensorFlow-Basic-Work/blob/master/Implementing_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset link : https://www.kaggle.com/mohansacharya/graduate-admissions#Admission_Predict_Ver1.1.csv

In [1]:
#!pip install tensorflow==2.0.0-beta1
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
print(tf.__version__)

2.0.0-beta1

In [0]:
def sigmoid(z):
  
  return (1.0/(1.0+tf.exp(-z)))

In [0]:
def initialize_parameters(n_x,n_y):
  
  W = tf.random.normal([n_x,n_y],dtype=tf.float32)
  b = tf.zeros([n_y,1],dtype=tf.float32)
  
  parameters = {
      
      'W' : W,
      'b' : b
  }
  
  return parameters

In [0]:
def forward_prop(X, parameters):
  
  W = parameters['W']
  b = parameters['b']
  
  Z = tf.matmul(X,W)+b
  
  A = sigmoid(Z)
  
  #A -=0.000001
  
  return A

In [0]:
def calculate_cost(A, y):
  
  cost = (-1.0/y.shape[0])*tf.reduce_sum(y*tf.math.log(A)+(1-y)*tf.math.log(1-A))
  
  return tf.squeeze(cost)

In [0]:
# Same log cost function using for exprement and error currection
def calculate_cost2(A, y):
  
  print('____________inside cost___________')
  
  ll1 = tf.math.log(A)
  ll2 = tf.math.log(1-A)
  
  ss = tf.reduce_sum(y*ll1+(1-y)*ll2)
  co = (-1.0/y.shape[0])
  print(A[:5])
  print(ll1[:5])
  print(ll2[:5])
  print(ss)
  print(co)
  
  tot = co*ss
  
  print(tot)
  
  print('_____out sitde cost________')
  
  return tot
  
  #cost = (-1.0/y.shape[0])*tf.reduce_sum(y*tf.math.log(A)+(1-y)*tf.math.log(1-A))
  
  #return tf.squeeze(cost)

In [0]:
def backward_prop(X,Y,A, parameters, alpha=0.01):
  
  W = parameters['W']
  b = parameters['b']
  
  m = X.shape[0]
  
  dz = A-Y
  dw = (1.0/m)*tf.matmul(tf.transpose(X),dz)
  db = (1.0/m)*tf.reduce_sum(dz)
  
  W -= alpha*dw
  b -= alpha*db
  
  
  new_parameters ={
      
     'W' : W,
     'b' : b
  }
  
  return new_parameters

In [0]:
def model(X,Y, alpha=.001, iteration=1000):
  
  n_x = X.shape[1]
  n_y = Y.shape[1]
  
  print(n_x, n_y)
  
  parameters = initialize_parameters(n_x, n_y)
  
  all_cost = []
  
  for i in range(iteration):
    
    A = forward_prop(X,parameters)
    cost = calculate_cost(A,Y)
    
    parameters = backward_prop(X,Y,A, parameters, alpha)
    
    all_cost.append(cost)
    
    if(i%1000==0):
      print('Iteration: {} :: Cost: {}'.format(i,cost))
      #print(parameters['W'])
    
    
  return parameters, all_cost

In [0]:
def predict(X,parameters):
  
  A = forward_prop(X,parameters)
  
  predict = A>=0.5
  
  return tf.cast(predict,dtype = tf.float32)

In [0]:
def get_accuracy(Y,Y_pred):
  
  accuracy = np.sum(tf.equal(Y,Y_pred))
  
  accuracy = (100.0/Y.shape[0])*accuracy
  
  return accuracy

In [0]:
def makeDataset():
  
  df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dataset/Admission_Predict_Ver1.1.csv')
  
  df.dropna()
  
  df2 = df.copy()
  df2.drop(df.columns[0], axis=1, inplace=True)
  
  data = df.values 
  min_max_scaler = preprocessing.MinMaxScaler()
  data = min_max_scaler.fit_transform(data)
 
  
  np.random.shuffle(data)
  
  data[:,-1] = data[:,-1]>=.6
  
  X = data[:,:-2]
  Y = data[:,-1]
  X= tf.cast(X,dtype=tf.float32)
  Y = tf.reshape(Y, [Y.shape[0],1])
  Y = tf.cast(Y, dtype=tf.float32)
  
  pk = int(0.9*X.shape[0])
  
  X_train = X[:pk,:]
  Y_train = Y[:pk,:]
  
  X_test = X[pk:,:]
  Y_test = Y[pk:,:]
  
  return X_train, Y_train, X_test, Y_test

In [37]:
X_train, Y_train, X_test, Y_test = makeDataset()
n_x = X_train.shape[1]
n_y =Y_train.shape[1]
  
num_of_iteration = 30000
learning_rate = 0.01
  
train_parameters, all_cost = model(X_train,Y_train, learning_rate, num_of_iteration)

7 1
Iteration: 0 :: Cost: 0.8503660559654236
Iteration: 1000 :: Cost: 0.6399735808372498
Iteration: 2000 :: Cost: 0.5595991611480713
Iteration: 3000 :: Cost: 0.5085518956184387
Iteration: 4000 :: Cost: 0.4736635386943817
Iteration: 5000 :: Cost: 0.44824230670928955
Iteration: 6000 :: Cost: 0.42875993251800537
Iteration: 7000 :: Cost: 0.41323983669281006
Iteration: 8000 :: Cost: 0.40050452947616577
Iteration: 9000 :: Cost: 0.3898126780986786
Iteration: 10000 :: Cost: 0.3806743323802948
Iteration: 11000 :: Cost: 0.3727518916130066
Iteration: 12000 :: Cost: 0.36580410599708557
Iteration: 13000 :: Cost: 0.3596535325050354
Iteration: 14000 :: Cost: 0.35416552424430847
Iteration: 15000 :: Cost: 0.34923604130744934
Iteration: 16000 :: Cost: 0.3447830379009247
Iteration: 17000 :: Cost: 0.34074047207832336
Iteration: 18000 :: Cost: 0.33705443143844604
Iteration: 19000 :: Cost: 0.33368054032325745
Iteration: 20000 :: Cost: 0.3305816650390625
Iteration: 21000 :: Cost: 0.32772648334503174
Iteration: 22000 :: Cost: 0.3250885009765625
Iteration: 23000 :: Cost: 0.3226446509361267
Iteration: 24000 :: Cost: 0.32037538290023804
Iteration: 25000 :: Cost: 0.31826356053352356
Iteration: 26000 :: Cost: 0.3162940740585327
Iteration: 27000 :: Cost: 0.3144541084766388
Iteration: 28000 :: Cost: 0.3127317428588867
Iteration: 29000 :: Cost: 0.3111168444156647

In [38]:
Y_pred = predict(X_train, train_parameters)
print('Train Accuracy: {}'.format(get_accuracy(Y_train,Y_pred)))

Y_pred = predict(X_test, train_parameters)
print('Test Accuracy : {}'.format(get_accuracy(Y_test,Y_pred)))

Train Accuracy: 88.0
Test Accuracy : 82.0

In [0]:
#this tis for Xor dataset
def main():
  
  
  X = np.array([[0,0],[0,1],[1,0],[1,1]], dtype = np.float32)
  Y = np.array([[0],[1],[1],[0]])
  
  print(X.shape)
  print(Y.shape)
  
  n_x = X.shape[1]
  n_y =Y.shape[1]
  
  num_of_iteration = 1000
  learning_rate = 0.3
  
  train_parameters, all_cost = model(X,Y, learning_rate, num_of_iteration)
  
  X_test = np.array([[1,1],[0,1]],dtype=np.float32)
  
  
  Y_predict = predict(X, train_parameters)
  
  for i in range(len(X)):
    print('Data : {} :: Prediction : {}'.format(X[i],Y_predict[i]))

In [0]:
main()

(4, 2)
(4, 1)
2 1
Iteration: 0 :: Cost: 0.7841987013816833
Iteration: 100 :: Cost: 0.6943139433860779
Iteration: 200 :: Cost: 0.6932536363601685
Iteration: 300 :: Cost: 0.6931570768356323
Iteration: 400 :: Cost: 0.693148136138916
Iteration: 500 :: Cost: 0.6931472420692444
Iteration: 600 :: Cost: 0.6931472420692444
Iteration: 700 :: Cost: 0.6931471824645996
Iteration: 800 :: Cost: 0.6931471824645996
Iteration: 900 :: Cost: 0.6931471824645996
Data : [0. 0.] :: Prediction : [False]
Data : [0. 1.] :: Prediction : [False]
Data : [1. 0.] :: Prediction : [False]
Data : [1. 1.] :: Prediction : [ True]

In [0]:
#this dataset from kaggle dataset 
#link: https://www.kaggle.com/mohansacharya/graduate-admissions#Admission_Predict_Ver1.1.csv
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dataset/Admission_Predict_Ver1.1.csv')

In [17]:
data.head()

   Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0           1        337          118  ...  9.65         1              0.92
1           2        324          107  ...  8.87         1              0.76
2           3        316          104  ...  8.00         1              0.72
3           4        322          110  ...  8.67         1              0.80
4           5        314          103  ...  8.21         0              0.65

[5 rows x 9 columns]

In [85]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')